.popMenu {
	position: absolute;
/*	top: 50px;*/
/*	left: 925px;*/
	z-index: 1060;
	max-width: 276px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	color: #605757;
}
.popMenu .moreDetail {
	text-align: center;
}
.popMenu ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 30px;
}
.popMenu ul {
	padding: 0 30px;
	min-width: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}
.popMenu ul.mouseover {
	max-height: 100px;
}
div.popMenu>.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	border-width: 10px;
	top: 1px;
	margin-left: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #fff;
}
div.popMenu>.arrow {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	top: -22px;
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, .25);
	border-width: 11px;
}